h1{
    color: greenyellow;
    background-color: blue;
}
body{
    background-image: url(http://dut.udn.vn/Files/admin/images/Tin_tuc/Khac/2020/LogoDUT/image002.jpg); 
    background-size: 700px;
}   
.text-center{
    text-align: center;
}
nav .menu ul{
    list-style: none;
}
nav .menu ul li{
    float: left;
    line-height: 30px;
    padding: 0 15px;
}





body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  
  header h1 {
    margin: 0;
  }
  
  main {
    padding: 20px;
  }
  
  article {
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
  }